{{define "post"}}
<div id="{{.Id}}">
    <a href="/post?id={{.Id}}"><h3>{{.Title}}</h3></a>
    <p>{{.Body}}</p>
    <div>
        <form method="POST" action="/post?id={{.Id}}">
            <input
                id="likes"
                type="checkbox"
                name="like"
                onchange="submit()"
                {{if .Liked}} checked{{end}}
                />
            <label for="likes">{{.Likes}} Likes</label>
            <input
                id="dislikes"
                type="checkbox"
                name="dislike"
                onchange="submit()"
                {{if .Disliked}} checked{{end}}
                />
            <label for="dislikes">{{.Dislikes}} Dislikes</label>
        </form>
        {{if .User.IsLoggedIn}}
            {{ template "comment_create" .}}
        {{end}}
    </div>
</div>
{{end}}
