{{define "post_create_view"}}
{{template "header" .}}
{{template "topbar" .}}
<div class="container">
    {{if .Error.Has}}
        {{template "error" .}}
    {{end}}
    <form method="POST" action="/post/create">
        <fieldset>
            <legend>New post</legend>
            <input type="text" name="title" placeholder="Your title here" required/>
                {{ range .Categories }}
                <div class="inline">
                    <input type="checkbox" id="category-{{.Id}}" name="category-{{.Id}}"/>
                    <label for="category-{{.Id}}">{{.Name}}</label>
                </div>
                {{ end }}
            <textarea name="body" placeholder="Your post here" required></textarea>
            <input type="hidden" name="action" value="create"/>
            <input type="submit"/>
        </fieldset>
    </form>
</div>
{{template "ending" .}}
{{end}}
