{{define "post"}}
<div id="{{.Id}}">
    <a href="/posts?id={{.Id}}"><h3>{{.Title}}</h3></a>
    <p>{{.Body}}</p>
    <div>
        <form method="POST" action="/post?id={{.Id}}">
            <input type="checkbox" name="like" onchange="submit()"{{if .Liked}} checked{{end}}>{{.Likes}} Likes</input>
            <input type="checkbox" name="dislike" onchange="submit()"{{if .Disliked}} checked{{end}}>{{.Dislikes}} Dislikes</input>
        </form>
        {{ template "comments" .}}
    </div>
</div>
{{end}}
