{{define "styling"}}
<style>
* {
    font-family: system-ui;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #2f2f2f;
    color: lightgreen;
}

a {
    color: greenyellow;
}

.category-description {
    color: #03dd0e;
    font-size: 0.9em;
    margin: 5px 0 10px 0;
    padding-left: 10px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border-color: #6a6a6a;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}

legend {
    padding: 0 1vw;
    border-color: #6a6a6a;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}

input, textarea {
    background-color: #1c1c1c;
    color: #fff;
}

input[type=submit] {
    background-color: #1c1c1c;
    color: greenyellow;
}

input[type=submit]:hover {
    background-color: #1c1c1c;
    color: greenyellow;
    border-color: greenyellow;
}

.topbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    list-style: none;
}

.inline {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
}

.reactions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.comment {
    border-color: #6a6a6a;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}
</style>
{{end}}
