{{define "topbar"}}
<div class="topbar">
    <div class="title">
        <a href="/"><h1>{{.WebsiteName}}</h1></a>
    </div>
    <div class="menu">
        <ul>
            {{if .User.LoggedIn }}
            <li>
                <a href="/user">{{.User.Username}}</a>
            </li>
            <li>
                <ul>
                    <li><a href="/post/create">Create post</a></li>
                    <li><a href="/user/posts">My posts</a></li>
                    <li><a href="/user/likes">My likes</a></li>
                    <li><details>
                        <summary>Notifications 🔔 {{if .User.UnreadNotificationsCount}}({{.User.UnreadNotificationsCount}}){{end}}</summary>
                        {{if .User.Notifications}}
                        <form method="post" action="/user/notifications">
                            <button type="submit">Mark all as read</button>
                        </form>
                        <ul>
                            {{range .User.Notifications}}
                            {{if eq .Type "comment"}}
                            <li>
                                {{if not .Read}}<strong>{{end}}
                                <a href = "/post/view/{{.Target.PostId}}#comment-{{.Target.Id}}">{{.Actor.Username}} commented on your post </a>
                                {{if not .Read}}</strong>{{end}}
                            </li>
                            {{end}}
                            {{if eq .Type "like"}}
                            <li>
                                {{if not .Read}}<strong>{{end}}
                                <a href = "/post/view/{{.Target.Id}}">{{.Actor.Username}} liked your post </a>
                                {{if not .Read}}</strong>{{end}}
                            </li>
                            {{end}}
                            {{if eq .Type "dislike"}}
                            <li>
                                {{if not .Read}}<strong>{{end}}
                                <a href = "/post/view/{{.Target.Id}}">{{.Actor.Username}} disliked your post </a>
                                {{if not .Read}}</strong>{{end}}
                            </li>
                            {{end}}
                            {{if eq .Type "commentLike"}}
                            <li>
                                {{if not .Read}}<strong>{{end}}
                                <a href = "/post/view/{{.Target.PostId}}#comment-{{.Target.Id}}">{{.Actor.Username}} liked your comment </a>
                                {{if not .Read}}</strong>{{end}}
                            </li>
                            {{end}}
                            {{if eq .Type "commentDislike"}}
                            <li>
                                {{if not .Read}}<strong>{{end}}
                                <a href = "/post/view/{{.Target.PostId}}#comment-{{.Target.Id}}">{{.Actor.Username}} disliked your comment </a>
                                {{if not .Read}}</strong>{{end}}
                            </li>
                            {{end}}
                            {{end}}
                        </ul>
                        {{end}}
                    </details></li>
                    <li><a href="/user/logout">Log out</a></li>
                </ul>
            </li>
            {{else}}
            <li><a href="/user/login">Log in</a></li>
            <li><a href="/user/register">Register</a></li>
            {{end}}
        </ul>

    </div>
</div>
{{end}}

