{{define "topbar"}}
<div class="topbar">
    <div class="title">
        <a href="/"><h1>{{.WebsiteName}}</h1></a>
    </div>
    <div class="menu">
        <ul>
            <li>{{.User.Username}}</li>
            {{if .User.LoggedIn }}
            <li><ul>
                <li><a href="/post?action=new">Create post</a></li>
                <li><a href="/user/posts">My posts</a></li>
                <li><a href="/user/liked">My likes</a></li>
            </ul></li>
            <li><ul>
                <li><a href="/user/logout">Log out</a></li>
            </ul></li>
            {{else}}
            <li><ul>
                <li><a href="/user/login">Log in</a></li>
                <li><a href="/user/register">Register</a></li>
            </ul></li>
            {{end}}
        </ul>

    </div>
</div>
{{end}}

