{{define "user_login_view"}}
{{template "header"}}
{{template "topbar" .}}
{{if .Error.Has}}
{{template "error" .}}
{{end}}
{{if .Message.Has}}
{{template "message" .}}
{{end}}
<div class="container">
    <form method="POST" action="/login">
        <fieldset>
            <legend>User Login</legend>
            <input
                    type="hidden"
                    name="action"
                    value="login"/>
            <input
                    type="email"
                    placeholder="Email"
                    name="email"/>
            <input
                    type="password"
                    placeholder="Password"
                    name="password"/>
            <input
                    type="submit"
                    value="Login"
                    name="submit"/>
        </fieldset>
    </form>
</div>
{{template "ending"}}
{{end}}
